body {
    margin: 2% 10% ;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: greenyellow;
    text-align: center;
}
li a{ 
    padding: 10px; 
    font-size: 2em;
    text-decoration: none;
}
li a:hover{
    color: chartreuse;
}
.success{ color: green;}
.error{ color:lightsalmon}